{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}

{% block body %}
        <div class="container">
        <!-- ShowCase-->
            <section id="showcase">
                <div class="container">
                    <h2>
                        All Our Dreams can Come True if, we have the Courage,to Pursue Them.
                    </h2>
                    <div>
                        <img id="Profilpicture" src="/static/img/ma.jpg" alt="">
                    </div>
                </div>
            </section>
            <!--ShowCase-Wrapper-->

            <!-- Page Content -->
            <section id="main" class="box">
                    <h3 class="introduction">Hello i'm Ashuza. </h3>
                    <hr>
                    <p class="center"> I am a web developer in training.This website is a simple prasentation of my personal projects which i plan to start in comming days, after CS50x and other online courses. I have basic skills in C | python | SQL | JavaScript | HTML | CSS | Bootstrap. I am open to learning and enhance my experience for achieving my dreams of becoming a full-time web developer.</p>
            </section>
        </div>
        <!-- /#page-content-wrapper -->
{% endblock %}